<h1 class='hide'> 怡木庫房 PingHouse</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <%@home.photos.size.times do |i| %>
      <%if i == 0%>
        <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
      <%else%>
        <li data-target="#myCarousel" data-slide-to="<%= i %>" ></li>
      <%end%>
    <%end%>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">

    <% @home.photos.order("id ASC").each_with_index do |photo, i|%>
        <%if i==0 %>
          <div class="active item">
            <%=image_tag(photo.image_url , class: 'img-slideshow img-rounded') %>
          </div>
        <%else%>
          <div class="item">
            <%=image_tag(photo.image_url, class: 'img-slideshow img-rounded') %>
          </div>
        <%end%>
    <%end%>
  </div>


  <!-- Carousel nav -->
  <a id="carousel-control-left" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a id="carousel-control-right" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>




<div class="row img-link">
  <div class="col-md-3 div-link-logo">
    <%= link_to 'https://www.facebook.com/pinghouse.com.tw?ref=hl' do %>
    <%=image_tag('facebook.png', class: "link-logo") %>
    <% end %>
  </div>

  <div class="col-md-3 div-link-logo">
    <%= link_to 'http://class.ruten.com.tw/user/index00.php?s=0915631100' do %>
    <%=image_tag('sky.png', class: " link-logo") %>
    <%end%>
  </div>

  <div class="col-md-3 div-link-logo">
    <%= link_to 'https://tw.search.bid.yahoo.com/search/ac;_ylt=AnLeAYIyqVO1DFWogM9mJhr3_rF8?ei=UTF-8&p=%E6%80%A1%E6%9C%A8%E5%BA%AB%E6%88%BF' do %>
    <%=image_tag('yahoo.png', class: " link-logo") %>
    <%end%>
  </div>

  <div class="col-md-3 div-link-logo">
    <%= link_to 'https://maps.google.com.tw/maps?q=%E6%80%A1%E6%9C%A8%E5%BA%AB%E6%88%BFPing+House&ie=UTF8&ll=25.02042,121.527629&spn=0.009022,0.017799&sll=25.021007,121.526983&layer=c&cid=17512875355829722430&panoid=uAp9WhMJEwYAAAQfCWe5tA&cbp=13,35.42,,0,0&brcurrent=3,0x3442a99bd1adbcc7:0xc5ab69bb7491162a,0,0x3442ac6b61dbbd9d:0xc0c243da98cba64b&t=m&z=17&cbll=25.021001,121.526939' do %>
    <%=image_tag('google360.png', class: " link-logo") %>
    <%end%>
  </div>
</div>



