

<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <%@home.photos.size.times do |i| %>
      <%if i == 0%>
        <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
      <%else%>
        <li data-target="#myCarousel" data-slide-to="<%= i %>" ></li>
      <%end%>
    <%end%>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">

    <% @home.photos.order("id ASC").each_with_index do |photo, i|%>
        <%if i==0 %>
          <div class="active item">
            <%=image_tag(photo.image_url , class: 'img-slideshow img-rounded') %>
          </div>
        <%else%>
          <div class="item">
            <%=image_tag(photo.image_url, class: 'img-slideshow img-rounded') %>
          </div>
        <%end%>
    <%end%>
  </div>


  <!-- Carousel nav -->
  <a id="carousel-control-left" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a id="carousel-control-right" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>




<div class="row img-link">
  <div class="col-md-3 div-link-logo">
    <%= link_to 'https://www.facebook.com/pinghouse.com.tw?ref=hl' do %>
    <%=image_tag('facebook.jpg', class: "link-logo") %>
    <% end %>
  </div>

  <div class="col-md-3 div-link-logo">
    <%= link_to 'http://class.ruten.com.tw/user/index00.php?s=0915631100' do %>
    <%=image_tag('sky.jpg', class: " link-logo") %>
    <%end%>
  </div>

  <div class="col-md-3 div-link-logo">
    <%= link_to 'https://tw.search.bid.yahoo.com/search/ac;_ylt=AnLeAYIyqVO1DFWogM9mJhr3_rF8?ei=UTF-8&p=%E6%80%A1%E6%9C%A8%E5%BA%AB%E6%88%BF' do %>
    <%=image_tag('yahoo.jpg', class: " link-logo") %>
    <%end%>
  </div>

  <div class="col-md-3 div-link-logo">
    <%=image_tag('google360.jpg', class: " link-logo") %>
  </div>
</div>
