<div class="row">


	<div class="col-md-12 div-gallery">
		


			<div id="myCarousel" class="carousel slide">

				<ol class="carousel-indicators">
			    <%@rent.photos.size.times do |i| %>
			      <%if i == 0%>
			        <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
			      <%else%>
			        <li data-target="#myCarousel" data-slide-to="<%= i %>" ></li>
			      <%end%>
			    <%end%>
			  </ol>

			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <% @rent.photos.order("id ASC").each_with_index do |photo, i|%>
		        <%if i==0 %>
		          <div class="active item">
		            <%=image_tag(photo.image_url , class: 'img-slideshow img-rounded') %>
		          </div>
		        <%else%>
		          <div class="item">
		            <%=image_tag(photo.image_url, class: 'img-slideshow img-rounded') %>
		          </div>
		        <%end%>
		    	<%end%>
			    



			  </div>
			  <!-- Carousel nav -->
			  <a id="carousel-control-left" class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a id="carousel-control-right" class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			
	</div>


<br>

<div class="col-md-12">
<h2 class="green-color" > 空間包場注意事項: </h2>

	<table class="table table-striped table-bordered" style="text-align: center;">
		<thead >
			<tr>
				<th style="width: 15%; text-align: center;">空間名稱<br>(位置)</th>
				<th style="width: 30%; text-align: center;">Zone12即小學堂<br>(2F)</th>
				<th style="width: 30%; text-align: center;">Zone20<br>(B1)</th>
				<th style="width: 30%; text-align: center;" >Zone30即小學堂<br>(1F)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td >每場場租費用</th>
				<td >＄1200/3.5hr<br>超時30分鐘$150</th>
				<td >＄2400/3.5hr<br>超時30分鐘$300</th>
				<td >＄3000/3.5hr<br>超時30分鐘$350</th>
			</tr>
			<tr>
				<td >容納人數</th>
				<td >8 ~ 12 人</th>
				<td >約 25 人</th>
				<td >約 35 人</th>
			</tr>
			<tr>
				<td >空間坪數</th>
				<td> 約 6 坪</th>
				<td >約 15 坪</th>
				<td >約 18 坪</th>
			</tr>
			<tr>
				<td> 適合運用</td>
				<td colspan='3'> 影音分享、課程講座<br>小型會議、聚會</td>

			</tr>
			<tr>
				<td> 設備提供</td>
				<td colspan='3'> <%= simple_format(
				"無線上網 / 桌上音響                     (免費使用)
				 40吋液晶螢幕                    (酌收$150 設備費)
				 活動式投影機＋投影布幕       (酌收$200+$100 設備費)
				 活動式麥克風＋擴音機              (酌收$300 設備費)
				")%>
				</td>

			</tr>

			<tr>
				<td> 設備提供</td>
				<td colspan='3'>
					熱紅茶/冰紅茶/海燕窩  &nbsp;&nbsp; (擇一無限暢飲)
				</td>

			</tr>


		</tbody>
 
	</table>

<br>
	<h2 class="green-color" > 長期包場優惠或相關場租問題請洽詢 (02)77316870</h2>
</div>


	
		





</div>