<!DOCTYPE html>
<html>
<head>
  <!--<title>PingHouse</title>-->
  <title>怡木庫房</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>

  <%= csrf_meta_tags %>

  <%=render_page_title_meta_tag%><%# This might be unnecessary %>
  <%=render_page_description_meta_tag%>
  <%=render_page_keywords_meta_tag%>

  <meta property="og:title" content="怡木庫房 Ping House" />
  <meta property="og:description" content="怡木庫房提供您空間、餐飲、傢俱傢飾的服務。" />
  <meta property="og:image" content="<%= image_url('logo.jpg')%>" />

<!-- Non RWD
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->
  <link rel="shortcut icon" href="<%= image_path("logo.jpg")%>">



<!--
  <meta name="Description" content="怡木庫房是由室內設計師的原木家具及鐵藝飾品商店，提供超高cp質具獨特品味的復古仿舊設計木質家具及雜貨zakka
適合自然、鄉村及LOFT設計風格的居家擺設，亦提供試內設計及擺設規劃之相關服務。。" />
    <meta name="Abstract" content="怡木庫房是由室內設計師的原木家具及鐵藝飾品商店，提供超高cp質具獨特品味的復古仿舊設計木質家具及雜貨zakka
適合自然、鄉村及LOFT設計風格的居家擺設，亦提供試內設計及擺設規劃之相關服務。" />
    <meta name="Keywords" content="怡木庫房是由室內設計師的原木家具及鐵藝飾品商店，提供超高cp質具獨特品味的復古仿舊設計木質家具及雜貨zakka
適合自然、鄉村及LOFT設計風格的居家擺設，亦提供試內設計及擺設規劃之相關服務。" />
-->
	<meta name="Author" content="Ryan Yang" />

  
</head>





<body>




	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 ">
		
				<%= render 'common/navbar'%>


				<% flash.each do |name, msg| %>
     				<%= content_tag(:div, msg, class: "alert alert-info") %>
				<% end %>
				
				<%= yield %>


				<%= render 'common/footer'%>
		  </div>
		</div>
	</div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= yield :google_map%>

<script type="text/javascript">var _jf = _jf || [];_jf.push(['p','29733']);_jf.push(['_setFont','wt064','css','.wt064']);_jf.push(['_setFont','wt064','alias','wt064']);(function(f,q,c,h,e,i,r,d){var k=f._jf;if(k.constructor===Object){return}var l,t=q.getElementsByTagName("html")[0],a=function(u){for(var v in k){if(k[v][0]==u){if(false===k[v][1].call(k)){break}}}},j=/\S+/g,o=/[\t\r\n\f]/g,b=/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g,g="".trim,s=g&&!g.call("\uFEFF\xA0")?function(u){return u==null?"":g.call(u)}:function(u){return u==null?"":(u+"").replace(b,"")},m=function(y){var w,z,v,u,x=typeof y==="string"&&y;if(x){w=(y||"").match(j)||[];z=t[c]?(" "+t[c]+" ").replace(o," "):" ";if(z){u=0;while((v=w[u++])){if(z.indexOf(" "+v+" ")<0){z+=v+" "}}t[c]=s(z)}}},p=function(y){var w,z,v,u,x=arguments.length===0||typeof y==="string"&&y;if(x){w=(y||"").match(j)||[];z=t[c]?(" "+t[c]+" ").replace(o," "):"";if(z){u=0;while((v=w[u++])){while(z.indexOf(" "+v+" ")>=0){z=z.replace(" "+v+" "," ")}}t[c]=y?s(z):""}}},n;k.push(["_eventActived",function(){p(h);m(e)}]);k.push(["_eventInactived",function(){p(h);m(i)}]);k.addScript=n=function(u,A,w,C,E,B){E=E||function(){};B=B||function(){};var x=q.createElement("script"),z=q.getElementsByTagName("script")[0],v,y=false,D=function(){x.src="";x.onerror=x.onload=x.onreadystatechange=null;x.parentNode.removeChild(x);x=null;a("_eventInactived");B()};if(C){v=setTimeout(function(){D()},C)}x.type=A||"text/javascript";x.async=w;x.onload=x.onreadystatechange=function(G,F){if(!y&&(!x.readyState||/loaded|complete/.test(x.readyState))){y=true;if(C){clearTimeout(v)}x.src="";x.onerror=x.onload=x.onreadystatechange=null;x.parentNode.removeChild(x);x=null;if(!F){setTimeout(function(){E()},200)}}};x.onerror=function(H,G,F){if(C){clearTimeout(v)}D();return true};x.src=u;z.parentNode.insertBefore(x,z)};a("_eventPreload");m(h);n(r,"text/javascript",false,3000)})(this,this.document,"className","jf-loading","jf-active","jf-inactive","//ds.justfont.com/js/stable/v/4.6/id/133267914203");</script>


</body>
</html>
